@model XeroApi.Model.Invoice

@{
    ViewBag.Title = "ImportData";
}




<h1>View Invoice</h1>


<b>Invoice Number: </b> @Html.DisplayFor(Model => Model.InvoiceNumber)

<br />
<br />

<b>Invoice Total: </b> @Html.DisplayFor(Model =>Model.Total)

<br />
<br />


<b>Amount Still Due: </b> @Html.DisplayFor(Model =>Model.AmountDue)

<br />
<br />

<b>Created On Due: </b> @Html.DisplayFor(Model =>Model.Date)

<br />
<br />


<b>Due Date: </b> @Html.DisplayFor(Model =>Model.DueDate)

<br />
<br />

<b>Paid Date: </b> @Html.DisplayFor(Model =>Model.FullyPaidOnDate)

<br />
<br />

<b>Contact: </b> @Html.DisplayFor(Model =>Model.Contact)

<br />
<br />

<b>Line Items: </b> 

@Html.DisplayFor(Model =>Model.LineItems)

<br />
<br />

