@model List<XeroApi.Model.Invoice>

@{
    ViewBag.Title = "ImportData";
}

<h2>Invoices</h2>


<h3>Stats</h3>

Accounts Receivable:
<br />
<br />
Average Time To Pay: @ViewBag.averageDaysToPay
<br />
<br />
Average Days Overdue: @ViewBag.averageDaysOverdue
<br />
<br />
Average Total: @ViewBag.averageInvoiceTotal
<br />
<br />
Unpaid Total: @ViewBag.unpaidAccRecTotal
<br />
<br />
<30 : @ViewBag.totalLessThan30DaysOverdue
<br />
<br />
30-60: @ViewBag.total30To60DaysOverdue
<br />
<br />
60-90: @ViewBag.total60To90DaysOverdue
<br />
<br />
90+ : @ViewBag.totalMoreThan90DaysOverdue
<br />
<br />

@ViewBag.totalOutstandingChart

<br />
<br />






<table>
    <tr>
        <th>Type</th><th>Details</th><th>Account Code</th><th>Amount</th>
    </tr>
    
    @foreach (var entry in Model)
    {
        <tr>
            <td>
               <a href ="/Financials/Invoice?invoiceID=@Html.DisplayFor(modelItem => entry.InvoiceID )">View </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => entry.InvoiceNumber )
            </td>
            <td>
                @Html.DisplayFor(modelItem => entry.Date )
            </td>
            <td>
                @Html.DisplayFor(modelItem => entry.DueDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => entry.InvoiceNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => entry.Total)
            </td> 
              <td>
                @Html.DisplayFor(modelItem => entry.Type)
            </td>                        
            <td>
                @Html.DisplayFor(modelItem => entry.Status)
            </td>                        
        </tr>
    }
</table>

