@model SimpleMoney.Models.Product

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Product</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LenderID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LenderID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Comments)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Comments)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Purpose)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Purpose)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MinimumAmount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MinimumAmount)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MaximumAmount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MaximumAmount)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LoanAmountNotes)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LoanAmountNotes)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LVR)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LVR)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LVRNotes)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LVRNotes)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MinimumDuration)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MinimumDuration)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MaximumDuration)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MaximumDuration)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MaximumDurationNotes)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MaximumDurationNotes)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.InterestRate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.InterestRate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SecurityNotes)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SecurityNotes)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ProgressDrawingsAllowed)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ProgressDrawingsAllowed)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RepaymentNotes)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RepaymentNotes)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EstablishmentFeePercentage)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EstablishmentFeePercentage)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EstablishmentFeeMinimum)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EstablishmentFeeMinimum)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EstablishmentFeeNotes)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EstablishmentFeeNotes)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MonthlyAccountKeepingFee)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MonthlyAccountKeepingFee)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TerminationFee)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TerminationFee)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EarlyRepaymentsAllowed)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EarlyRepaymentsAllowed)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EarlyRepaymentNotes)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EarlyRepaymentNotes)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ProductSpecificInfo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ProductSpecificInfo)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ProductID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
