@model IEnumerable<SimpleMoney.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Lender.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MinimumAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaximumAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InterestRate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsVariableRate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Terms)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Lender.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MinimumAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaximumAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InterestRate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsVariableRate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Terms)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProductID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProductID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProductID })
        </td>
    </tr>
}

</table>
