@model IEnumerable<SimpleMoney.Models.ApplicationSubmission>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<table>
    <tr>
        <th>Company</th>
        <th>Owner</th>        
        <th>Product</th>
        <th>Status</th>
        <th>Submitted On</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Application.LegalName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Application.Owner.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product.Title)
        </td>
       <td>
            @item.Status.ToString()
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreateDate)
        </td>
        <td>           
            @Html.ActionLink("Details", "Details", new {  ApplicationID = item.ApplicationID, ProductID = item.ProductID   }) |            
        </td>
    </tr>
}

</table>
