@model SimpleMoney.Models.BusinessFinancials
@{
    ViewBag.Title = "Financial Information";
}

<h2>Business Financials</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)   

    @Html.HiddenFor(model => model.ApplicationID)
        
    <div style="float:left">
    
        <h3>Assets</h3>

        <div class="editor-label">
            @Html.LabelFor(model => model.AssetType)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AssetType)
            @Html.ValidationMessageFor(model => model.AssetType)
        </div> 
    
        <div class="editor-label">
            @Html.LabelFor(model => model.AssetDetails)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AssetDetails)
            @Html.ValidationMessageFor(model => model.AssetDetails)
        </div> 
    
        <div class="editor-label">
            @Html.LabelFor(model => model.AssetAmount)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AssetAmount)
            @Html.ValidationMessageFor(model => model.AssetAmount)
        </div> 

        <input type="submit" value="Add Asset" name ="assetButton"/>
    
        <table>
            <tr>
                <th>Amount</th><th>Type</th><th>Details</th>       
            </tr>
    
            @foreach (var item in Model.Assets)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Details)
                    </td>               
                </tr>
            }
        </table>

    </div>
    
    <div style="float:right">
    
        <h3>Liabilities</h3>

            <div class="editor-label">
                @Html.LabelFor(model => model.LiabilityType)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.LiabilityType)
                @Html.ValidationMessageFor(model => model.LiabilityType)
            </div> 
    
            <div class="editor-label">
                @Html.LabelFor(model => model.LiabilityDetails)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.LiabilityDetails)
                @Html.ValidationMessageFor(model => model.LiabilityDetails)
            </div> 
    
            <div class="editor-label">
                @Html.LabelFor(model => model.LiabilityAmount)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.LiabilityAmount)
                @Html.ValidationMessageFor(model => model.LiabilityAmount)
            </div>
              

            <input type="submit" value="Add Liability" name ="liabilityButton"/>
    
            <table>
                <tr>
                    <th>Amount</th><th>Type</th><th>Details</th>       
                </tr>
    
                @foreach (var item in Model.Liabilities)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Amount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Type)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Details)
                        </td>               
                    </tr>
                }
            </table>
        
        </div>
    
        <br style="clear:both"/>
           
        
        <fieldset>
            <legend>Financials</legend>          
        
            <div class="editor-label">
                @Html.LabelFor(model => model.YearlyIncomeBeforeTax)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.YearlyIncomeBeforeTax)
                @Html.ValidationMessageFor(model => model.YearlyIncomeBeforeTax)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.YearlyDepreciation)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.YearlyDepreciation)
                @Html.ValidationMessageFor(model => model.YearlyDepreciation)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.YearlyInterestEarned)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.YearlyInterestEarned)
                @Html.ValidationMessageFor(model => model.YearlyInterestEarned)
            </div>          
               
            <div class="editor-label">
                @Html.LabelFor(model => model.YearlyNetProfit)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.YearlyNetProfit)
                @Html.ValidationMessageFor(model => model.YearlyNetProfit)
            </div> 
        
        </fieldset>      

    


        <p>
            <input type="submit" value="Back" name="backButton" />
        

        
            <input type="submit" value="Next" name ="nextButton"/>
        </p>



    
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/javascript">
    document.getElementById("backButton").disableValidation = true;
</script>