@model SimpleMoney.Models.ProductsInApplication
@{
    ViewBag.Title = "ProductSearch";
}

<h2>Reccomended Products</h2>



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)   
     @Html.HiddenFor(model => model.ApplicationID)
   
     <table>
        <tr>
             <th>Select</th><th>ProductID</th><th>Lender</th><th>Title</th><th>Min</th><th>Max</th><th>Interest</th><th>Type</th>
        </tr>
    
        @foreach (var item in Model.products)
        {
            <tr>
                <td>
                    <input type="checkbox" name="selectedProducts" value="@item.ProductID" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lender.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>               
                <td>
                    @Html.DisplayFor(modelItem => item.MinimumAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaximumAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InterestRate)%
                </td> 
                
                <td>
                    @item.Type.ToString()
                </td> 
            </tr>
            
                   
            
        }
    </table>
    
    <p>
        <input type="submit" value="Back" name="backButton" />        
        <input type="submit" value="Next" name ="nextButton"/>
    </p>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/javascript">
    document.getElementById("backButton").disableValidation = true;
</script>